


<div class="history_of_text">



            <!-- not sure if i have to pass in text to this function -->
            <button class="get_data_button"ng-click="getAllData()" type="button" name="button">Get Data</button>
            <input class="get_data_button" type="text" name="Name" value="" placeholder="Filter" ng-model="textfilter.arrayname"/>




         <div class="inner_div_for_text_history">




                  <!-- ************this will desplay all the texts inputs on the data base ******************************* -->

                      <div class="textboxforhistory" ng-repeat="text in texts | filter: textfilter track by $index" >
                            <div class="div_for_the_text_history">
                                <h1 class='text_from_data_base'>{{text.arrayname}}</h1>
                            </div>
                  <!-- ******** this button will display the word count of the text ********************************************   -->
                          <button type="button" ng-click='datacheck(text, $index)' name="button"></button>
                                <h1>{{text.count}}</h1>
                                <h1>{{text.len}}</h1>

                            </div>


            </div>
</div>
