


      <div  class="google_input_area">
        <form class="google_form"  method="get" action="/api/login/google">

          <button class="google_plus"  type="submit" name="button"> Sign in W/ Google</button>
        </form>
      </div>

      <div class="how_the_app_works_section">
          <div class="take_video">
            <h1>Click Start</h1>
          </div>

          <div class="edit_text">
              <h1>The App Will Turn Your Words Into Written Text</h1>
          </div>

          <div class="SaveContent">
            <h1>Save Your Text</h1>
        </div>

      </div>
