/*main header across the top of the page*/
.container-fluid {
   padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      height: 94px;
      background-color: #2F343C;
      padding-top: 24px;
      border-width: thick;
      border-style: solid;
      border-color: #787878;
      /* margin-top: 6px; */
      border-top: none;
      border-left: none;
      border-right: none;
}



/*buttons on the top of the page*/
.top-botton {
  visibility: hidden;
  text-decoration: none;
  color: white
}

.hamburger_bar{
  height: 104px;
  width: 141px;
  background-color: #2F343C;
  position: absolute;
  margin-left: 1px;
  border: #204083;
  border-style: solid;
  border: 1px solid gray;
  margin: 3px;
  overflow: hidden;
  /* background: rgba(0,0,0,.4); */
  box-shadow: 0 0 30px 0 rgba(0,0,0,.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger_bar li {
    font-size: 22px;
    color: #337ab7;
    text-decoration: none;
}

.main_section_entire_page{
    height: 100vh;
    width: 100%;
    background-color: red;
    transition: left 0.9s linear;
    transition: left 0.9s linear;
    transition: left 0.9s linear;
    moz-transition: left 0.9s linear;
    webkit-transition: left 0.9s linear;
    display: flex;
    flex-direction: column;
}

/*main body box where context and styles are inputed into the ui-view*/
.input_section {
      background-color: #F2F2F2;
      height: 100%;
      width: 100%;
      /* margin-left: 208px; */
      transition: margin-left 0.9s linear;
      moz-transition: margin-left 0.9s linear;
      webkit-transition: margin-left 0.9s linear;
      display: flex;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}




/*first div in the input_section for goole login this is the small media version */
.google_input_area {
      background-color: #2F343C;
      height: 101px;
      width: 91vw;
      transition: margin-left 0.9s linear;
      moz-transition: margin-left 0.9s linear;
      webkit-transition: margin-left 0.9s linear;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      border-width: thick;
      border-style: solid;
      border-color: #787878;
      margin-top: 6px;
}

.google_input_area form img {
    width: 10px

}

/*div goes inside the google_input div, and is a buttion of google*/
.google_plus {
  height: 48px;
  background: none;
  border: none;
  border-radius: 6px;
  color: #9FAFF3;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 19px;
  width: 259px;
  border-right: 1px solid transparent;
  text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
  background-color: #204083;
  border: 2px solid;
}


/*bottom footer for the contact information about the bussiness*/
.footer{
    background-color: black;
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2F343C;
    padding-top: 24px;
    border-width: thick;
    border-style: solid;
    border-color: #787878;
    border-left: none;
    border-right: none;
    border-bottom: none;

}
.footer h1{
  margin: 0px;
  padding: 0px;
}


.contact_information {
  font-size: 15px;
    color: white;
    display: flex;
    width: 94%;
    background-color: #2F343C;
    height: 76%;
    align-items: inherit;
    justify-content: center;
    padding-bottom: 25px;

}
.contact_information h1{
    font-size: 17px;
    color: white;

}

.logo {
    width: 44px;
}

.textbox{
    height: 187px;
    width: 50px;
    background: blue;
    width: 72%;
    border: 5px solid gray;
    margin: 3px;
    overflow: hidden;
    background: rgba(0,0,0,.4);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.history_of_text {
  height: 81vh;
    width: 91vw;
    background-color: #2F343C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*background-image: url('https://hd.unsplash.com/photo-1464639351491-a172c2aa2911');
    background-size: cover;
    background-position-x: 50%;*/

}
.inner_div_for_text_history {
  overflow: auto;
    height: 70vh;
    width: 50vw;
    background-color: #2F343C;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 23px;
    opacity: .5;
    border-style: solid;
    border: 4px solid gray;
    margin: 15px;
    overflow: hidden;
    /* background: rgba(0,0,0,.4); */
    box-shadow: 0 0 30px 0 rgba(0,0,0,.25);
        overflow: scroll;



}
    .div_for_the_text_history{
          height: 80px;
          width: 47vw;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 4px;
    }


      /*div below google and explains how the app works */
      .how_the_app_works_section {
        background-color: #2F343C;
        height: 67vh;
        width: 91vw;
        display: flex;
        justify-content: center; */
        margin-top: 10px;

        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 20p;
        border-width: thick;
        border-style: solid;
        /*border-color: #787878;
        background-image: url('https://hd.unsplash.com/photo-1464639351491-a172c2aa2911');
        background-size: cover;
        background-position-x: 50%;*/

      }

      /*small div inside the how_the_app_works_section to explain the app*/
    .take_video {
      height: 100px;
      width: 68vw;
      margin-top: 15px;
      background-color: black;
      border-width: thick;
      border-style: solid;
      border-color: #787878;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      opacity: 0.5;
      color: white;
      margin: 5px;
      opacity: .9;
    }

      .take_video h1 {
        font-size: 22px;
        color: white;
        opacity: 0.8;
      }


      /*small div inside the how_the_app_works_section to explain the app*/
        .edit_text {
          height: 100px;
          width: 68vw;
          margin-top: 15px;
          background-color: black;
          border-width: thick;
          border-style: solid;
          border-color: #787878;
          display: flex;
          justify-content: flex-start;;
          align-items: center;
          flex-direction: column;
          opacity: 0.5;
          color: white;
          margin: 5px;
          opacity: .9;
      }

      .edit_text h1 {
        font-size: 22px;
        color: white;
        opacity: 0.8;
        width: 250px
      }
      /*small div inside the how_the_app_works_section to explain the app*/
      .SaveContent {
        height: 100px;
        width: 68vw;
        margin-top: 15px;
        background-color: black;
        border-width: thick;
        border-style: solid;
        border-color: #787878;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        opacity: 0.5;
        color: white;
        margin: 5px;
        opacity: .9;
      }

      .SaveContent  h1 {
        font-size: 22px;
        color: white;
        opacity: 0.8;
        width: 250px
      }


      .text_boxes_for_home_page {
            background-color: #2F343C;
            height: 85vh;
            width: 91vw;
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }


      .textarea{
        background-color: gray;
        height: 185px;
        width: 400px;
      }

      .div_for_keep_button{
        height: 52px;
        width: 15vw;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1px;
        border: 1px solid gray;
        margin: 3px;
        overflow: hidden;
        background: rgba(0,0,0,.4);
        box-shadow: 0 0 30px 0 rgba(0,0,0,.25);
      }


    .glyphicon-menu-hamburger:before {
        content: "\e236";
        color: white;
        font-size: 38px;
        }

      .buttonsfunc {
          background-color: black;
          border: black;
        }
        .glyphicon-chevron-down:before {
        content: "\e114";
        font-size: 30px;
    }
    .text_from_data_base {
      font-size: 15px;
      color: white;
      padding: 6px;
    }
    .get_data_button {
      background-color: #204083;
      width: 21vw;
      margin: 4px;
      color: white;
      border-style: solid;
      border: 2px solid gray;
      margin: 15px;
      overflow: hidden;
      /* background: rgba(0,0,0,.4); */
      box-shadow: 0 0 30px 0 rgba(0,0,0,.25);
    }
    .anaybutons {
            font-size: 13px;
      background-color: gray;
      /* size: 22px; */
      width: 100px;
      /* height: 22px; */
      margin-top: 6px;
          margin-bottom: 20px;
    }
.data {
  color: white;
  font-size: 18px
}
/************ 1st screen ***********************/
  @media all and (min-width: 0px) and (max-width: 500px){

    .glyphicon-menu-hamburger:before {
        visibility: visible;
        }

        .how_the_app_works_section {
          flex-direction: column;
        }

        .take_video {
          height: 11vh;
          width: 71vw;

        }
        .take_video h1 {
          font-size: 15px;
          width: 175px;

        }
        .edit_text {
          height: 11vh;
          width: 71vw;

        }
        .edit_text h1 {
          font-size: 15px;
          width: 175px;

        }
        .SaveContent  {
          height: 11vh;
          width: 71vw;

        }
        .SaveContent  h1 {
          font-size: 15px;
          width: 175px;

        }

        .div_for_keep_button{
          height: 52px;
          width: 88px;

        }



}

/************ 2nd screen ***********************/
  @media all and (min-width: 500px) and (max-width: 700px) {

    .glyphicon-menu-hamburger:before {
        visibility: visible;
        }

        .how_the_app_works_section {
          flex-direction: column;
        }

        .take_video {
          height: 16vh;
          width: 71vw;

        }
        .take_video h1 {
          font-size: 24px;
          width: 300px;

        }
        .edit_text {
          height: 16vh;
          width: 71vw;

        }
        .edit_text h1 {
          font-size: 24px;
          width: 300px;

        }
        .SaveContent  {
          height: 16vh;
          width: 71vw;

        }
        .SaveContent  h1 {
          font-size: 24px;
          width: 300px;

        }
        .div_for_keep_button{
            width: 15vw;

        }

}
/************ 3nd screen ***********************/
  @media all and (min-width: 701px) and (max-width: 1000px) {

    .glyphicon-menu-hamburger:before {
        visibility: visible;
        }

        .how_the_app_works_section {
          flex-direction: row;
        }

        .take_video {
          height: 50vh;
          width: 24vw;

        }
        .take_video h1 {
          font-size: 24px;
          width: 134px;
          height: 40vh;

        }
        .edit_text {
          /*background-color: red;*/
          height: 50vh;
          width: 24vw;

        }
        .edit_text h1 {
          font-size: 24px;
          width: 134px;
          height: 40vh;

        }
        .SaveContent  {
          /*background-color: red;*/
          height: 50vh;
          width: 24vw;

        }
        .SaveContent  h1 {
          font-size: 24px;
          width: 134px;
          height: 40vh;

        }

}
/************ 4nd screen ***********************/
  @media all and (min-width: 1001px) {

    .glyphicon-menu-hamburger:before {
        visibility: visible;
        }

        .how_the_app_works_section {
          flex-direction: row;
        }

        .take_video {
          /*background-color: yellow;*/
          height: 60vh;
          width: 31vw;
          /*background-image: url('https://images.unsplash.com/photo-1474176857210-7287d38d27c6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=38c8a7e6f1875b5ca428292134310979');*/
          background-image: url('../img/take.jpeg');
          background-size: cover;
          background-position-x: 50%;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .take_video h1 {
          font-size: 36px;
          width: 300px;
          height: 40vh;

        }
        .edit_text {

          height: 60vh;
          width: 31vw;
          /* background-image: url(https://images.unsplash.com/photo-1476136236990-838240be4859?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=68532953beb8ead03e4a461a3a74434b); */
          background-image: url(../img/edit.jpeg);
          background-size: 169%;
          background-position-x: 25%;
          background-position-y: 97%;
          /* background-position: inherit; */
          background-origin: content-box;
          background-repeat: no-repeat;

        }
        .edit_text h1 {
          font-size: 36px;
          width: 300px;
          height: 40vh;

        }
        .SaveContent  {

          height: 60vh;
          width: 31vw;
          /* background-image: url(https://images.unsplash.com/photo-1475586036352-6a29507e6683?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=264f158642ae6a3aba10393fc158910f); */
          background-image: url(../img/3.jpeg);
          background-size: 103%;
          background-position-x: 40%;
          background-position-y: 37%;
          /* background-position: inherit; */
          background-origin: content-box;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .SaveContent  h1 {
          font-size: 36px;
          width: 300px;
          height: 40vh;

        }

}
