/*main header across the top of the page*/
.container-fluid {
   padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      height: 94px;
      background-color: #2F343C;
      padding-top: 24px;
      border-width: thick;
      border-style: solid;
      border-color: #787878;
      /* margin-top: 6px; */
      border-top: none;
      border-left: none;
      border-right: none;
}



/*buttons on the top of the page*/
.top-botton {
  visibility: hidden;
  text-decoration: none;
  color: white
}

.hamburger_bar{
    height: 273px;
    width: 141px;
    background-color: #2F343C;
    position: absolute;
    margin-left: 1px;
    border: #204083;
    border-style: solid;
}

.main_section_entire_page{
    height: 100vh;
    width: 100%;
    background-color: red;
    transition: left 0.9s linear;
    transition: left 0.9s linear;
    transition: left 0.9s linear;
    moz-transition: left 0.9s linear;
    webkit-transition: left 0.9s linear;
    display: flex;
    flex-direction: column;
}

/*main body box where context and styles are inputed into the ui-view*/
.input_section {
      background-color: #F2F2F2;
      height: 100%;
      width: 100%;
      /* margin-left: 208px; */
      transition: margin-left 0.9s linear;
      moz-transition: margin-left 0.9s linear;
      webkit-transition: margin-left 0.9s linear;
      display: flex;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}




/*first div in the input_section for goole login this is the small media version */
.google_input_area {
      background-color: #2F343C;
      height: 101px;
      width: 91vw;
      transition: margin-left 0.9s linear;
      moz-transition: margin-left 0.9s linear;
      webkit-transition: margin-left 0.9s linear;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 12px;
      border-width: thick;
      border-style: solid;
      border-color: #787878;
      margin-top: 6px;
}

.google_input_area form img {
    width: 10px

}

/*div goes inside the google_input div, and is a buttion of google*/
.google_plus {
  height: 48px;
  background: none;
  border: none;
  border-radius: 6px;
  color: #9FAFF3;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 19px;
  width: 259px;
  border-right: 1px solid transparent;
  text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
  background-color: #204083;
}


/*bottom footer for the contact information about the bussiness*/
.footer{
    background-color: black;
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #2F343C;
    padding-top: 24px;
    border-width: thick;
    border-style: solid;
    border-color: #787878;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.contact_information {
  font-size: 15px;
    color: white;
    display: flex;
    width: 94%;
    background-color: #2F343C;
    height: 76%;
    align-items: inherit;
    justify-content: center;
    padding-bottom: 25px;

}
.contact_information h1{
    font-size: 17px;
    color: white;
    padding: 22px;
}

.logo {
    width: 44px;
}

.textbox{
    height: 187px;
    width: 50px;
    background: blue;
    width: 72%;
    border: 5px solid gray;
    margin: 3px;
    overflow: hidden;
    background: rgba(0,0,0,.4);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.history_of_text {
  height: 81vh;
    width: 91vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.inner_div_for_text_history {
  overflow: auto;
    height: 70vh;
    width: 50vw;
    background-color: beige;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 23px;

}
.div_for_the_text_history{
  height: 89px;
    width: 200px;
    background-color: pink;
}





      /*div below google and explains how the app works */
      .how_the_app_works_section {
        background-color: #2F343C;
        height: 72vh;
        width: 91vw;
        display: flex;
        justify-content: center; */
        margin-top: 10px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 20p;
        border-width: thick;
        border-style: solid;
        border-color: #787878;

      }

      /*small div inside the how_the_app_works_section to explain the app*/
    .take_video {
      height: 120px;
      width: 68vw;
      margin-top: 15px;
      background-color: black;
      border-width: thick;
      border-style: solid;
      border-color: #787878;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0.5;
      color: white;
    }

      .take_video h1 {
        font-size: 22px;
        color: white;
        opacity: 0.8;
      }


      /*small div inside the how_the_app_works_section to explain the app*/
        .edit_text {
          height: 120px;
          width: 68vw;
          margin-top: 15px;
          background-color: black;
          border-width: thick;
          border-style: solid;
          border-color: #787878;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          opacity: 0.5;
          color: white;
      }

      .edit_text h1 {
        font-size: 22px;
        color: white;
        opacity: 0.8;
        width: 250px
      }
      /*small div inside the how_the_app_works_section to explain the app*/
      .SaveContent {
        height: 120px;
        width: 68vw;
        margin-top: 15px;
        background-color: black;
        border-width: thick;
        border-style: solid;
        border-color: #787878;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0.5;
        color: white;;
      }

      .SaveContent  h1 {
        font-size: 22px;
        color: white;
        opacity: 0.8;
            width: 250px
      }


      .text_boxes_for_home_page {
            background-color: bisque;
            height: 91vh;
            width: 91vw;
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }


      .textarea{
        background-color: white;
        height: 185px;
      }

      .div_for_keep_button{
                  height: 20px;
                  width: 50px;
                  background: cadetblue;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 1px;
      }

    .glyphicon-menu-hamburger:before {
        content: "\e236";
        color: white;
        font-size: 38px;
        }

/************ 1st screen ***********************/
  @media all and (min-width: px) {

    .glyphicon-menu-hamburger:before {
        visibility: hidden;
        }

        .how_the_app_works_section {
          flex-direction: row;
        }

        .take_video {
            height: 60vh;
            width: 60vw;
            margin: 5px;
        }
        .edit_text {
          height: 60vh;
          width: 60vw;
          margin: 5px;
        }
        .SaveContent  {
          height: 60vh;
          width: 60vw;
          margin: 5px;
        }


}

/************ 2nd screen ***********************/
  @media all and (min-width: 760px) {

    .glyphicon-menu-hamburger:before {
        visibility: hidden;
        }

        .how_the_app_works_section {
          flex-direction: row;
        }

        .take_video {
            height: 60vh;
            width: 60vw;
            margin: 5px;
        }
        .edit_text {
          height: 60vh;
          width: 60vw;
          margin: 5px;
        }
        .SaveContent  {
          height: 60vh;
          width: 60vw;
          margin: 5px;
        }


}
